/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  height: 50px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top: 50px;
}
@media (min-width: 768px){
	.carousel {
		margin-top:90px;
	}
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-md-3 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-3 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.4;
  }
  .tittle {
		font-size: 27px;
	}
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/*======================================
					NAV
======================================*/
a.navbar-brand img.logo{
	width: 200px;
	position: absolute;
	top: 5px;
	left: 4px;
}
.navbar-inverse {
	background-color: #00b0b5;
	border-color: #00b0b5;
}
.navbar-inverse .navbar-toggle {
	border-color: #fff;
	margin-right: 0px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #009FA3;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #009FA3;
}
.navbar-inverse .navbar-nav>li>a {
	color: #4C4C4C;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #009FA3;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #4C4C4C;
}
img.r-s-f{
	position: absolute;
	top: 48px;
	left: 110px;
}
img.r-s-t{
	position: absolute;
	top: 78px;
	left: 110px;
}
img.r-s-i{
	position: absolute;
	top: 108px;
	left: 110px;
}
@media (min-width: 768px){
	.navbar-wrapper {
	 	margin-top: 0px; 
	}
	a.navbar-brand img.logo {
		top: 20px;
	}
	.navbar-nav{
		position: absolute;
		right: 60px;
		top: 15px;
	}
	.navbar-wrapper .navbar .container {
		padding-right: 0px; 
		padding-left: 0px;
		width: 100%;
		height: 90px;
	}
	.navbar-wrapper .navbar {
		border-radius: 0px;
		margin-bottom: 0px;
	}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		background: none;
		border-bottom: 5px solid;
		padding-bottom: 7px;
	}
	.navbar-wrapper {
		position: fixed; 
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #fff;
	}
	li a.facebook{
		background: url(../img/f.png) no-repeat;
		padding-left: 30px;
	}
	li a.twitter{
		background: url(../img/t.png) no-repeat;
		padding-left: 30px;
	}
	li a.linkedin{
		background: url(../img/i.png) no-repeat;
		padding-left: 30px;
	}
	li a.news{
		padding-left: 30px;
	}

}
/*======================================
					SLIDER
======================================*/
.slider-0{
	background: url(../img/fondo_rojo.png)no-repeat;
	background-size: cover;
}
.slider-1{
	background: url(../img/fondo_morado.jpg)no-repeat;
	background-size: cover;
}
.slider-2{
	background: url(../img/fondo_azul.jpg)no-repeat;
	background-size: cover;
}
.slider-3{
	background: url(../img/Base_Colgate.jpg)no-repeat;
	background-size: cover;
}
.tittle{
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
}
h1, .h1 {
	font-size: 25px;
	font-weight: bold;
	margin: -5px 0px 10px 0px;
	text-shadow: none;
}
h2, .h2 {
	font-size: 20px;
	margin: -5px 0px 10px 0px;
	text-shadow: none;
}
h2.tittle-love {
	font-size: 27px;
	margin-bottom: 0px;
	color: #5a5a5a;
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
}
h2.holaContact{
	font-size: 35px;
	margin: -5px 0px 10px 0px;
	text-shadow: none;
	color: #fff;
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
	padding-top: 30px;
}	
h2.holaContact span.hellow{
	background: #00b0b5;
	margin-left: 80px;
	height: 5px;
	display: block;
	margin-top: 10px;
	width: 100px;
}
h2.tittle-forAll {
	font-size: 20px;
	margin: 0px 0px 10px 10px;
	text-shadow: none;
	font-style: italic;
	font-family: 'georgia';
	text-align: center;
}
p {
	font-size: 13px;
	text-shadow: none;
}
h1 span.borde-cocacola{
	height: 5px;
	background: #fff;
	width: 120px;
	margin: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
p.tittle-coca-cola{
	font-size: 13px;
	text-shadow: none;
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
}
div.carousel-caption img.imagen{
	width: 100%;
}
div.carousel-caption{
	position: absolute;
	top: 40px;
}
.carousel .item{
	height: 550px;
}
.carousel-inner > .item > img {
	min-width: 0px;
	height: 0px;
}
.carousel-indicators {
	bottom: -55px;
}
.btn-lg, .btn-group-lg>.btn {
	font-size: 13px;
	color: #fff;
	font-weight: bold;
}
.carousel-caption .btn {
	text-shadow: none;
	background: none;
	border: none;
	margin-top: -5px;
}
.carousel-control.right {
	height: 550px;
}
.carousel-control.left {
	height: 550px;
}
h1 span{
	font-size: 13px;
	margin: 0px 10px 0px 0px;
}
@media (min-width: 480px){
	div.carousel-caption img.imagen {
		width: 65%;
	}
}
@media (min-width: 770px){
	.carousel-caption.row{
		left: 0px;
		right: 0px;
		z-index: 0;
		padding: 0 3%;
	}
	.carousel-control {
		width: 3%;
	}
	div.carousel-caption img.imagen {
		width: 100%;
		margin-top: 60px;
		max-width: 580px;
	}
	.col-sm-4 {
		width: 33.33333333%;
		margin-top: 60px;
	}
	div.carousel-caption {
		top: 0px;
	}
}
@media (min-width: 970px){
	.col-sm-4 {
		margin-top: 100px;
	}
}
/*======================================
					DISPOSITIVOS
======================================*/
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	max-width: 90%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 10px;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
div.row.featurette{
	background: #596a7a;
	margin-top: -10px;
}
h3.verde{
	font-size: 20px;
	font-family: 'georgia';
	font-style: italic;
	color: #00b0b5;
	text-align: center;
}
h2.featurette-heading{
	font-weight: bold;
	color: #00b0b5;
	text-align: center;
	border-bottom: 5px solid;
	border-top: 5px solid;
	padding: 10px;
}
p.porcentaje {
	color: #fff;
	width: 125px;
	text-align: center;
	font-size: 11px;
	float: left;
	font-style: italic;
	padding-bottom: 40px;
}
p.porcentaje2 {
	color: #fff;
	width: 125px;
	text-align: center;
	font-size: 11px;
	float: right;
	font-style: italic;
}
p.porcentaje span{
	font-size: 58px;
	font-weight: bold;
	font-style: normal;
	font-family: 'proximanova-bold';
}
p.porcentaje2 span{
	font-size: 58px;
	font-weight: bold;
	font-style: normal;
	font-family: 'proximanova-bold';
}
p.liga{
	font-size: 8px;
	color: #fff;
	padding-top: 56%;
	text-align: center;
}
@media (min-width: 480px){
	p.porcentaje {
		margin-left: 50px;
		width: 160px;
	}
	p.porcentaje2 {
		margin-right: 50px;
		width: 171px;
	}
		h2 span.pies{
		height: 5px;
		background: #00b0b5;
		width: 120px;
		margin: auto;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h2 span.cabeza{
		height: 5px;
		background: #00b0b5;
		width: 120px;
		margin: auto;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h2.featurette-heading {
		border: none;
	}
	p.liga {
		padding-top: 38%;
		margin-bottom: 50px;
	}
}
@media (min-width: 770px){
	div.row.featurette {
		background: url(../img/globo_texto.png) #596a7a no-repeat 10px;
		background-size: 100%;
	}
	.img-responsive{
		margin-left: 10%;
		padding-top: 105px;
		padding-bottom: 30%;
	}
	p.porcentaje {
		color: #5a5a5a;
		width: 100px;
		padding-bottom: 0px;
	}
	p.porcentaje2 {
		color: #5a5a5a;
		width: 100px;
	}
	h2.featurette-heading {
		font-size: 25px;
		padding: 0;
		margin: auto;
	}
	h3.verde {
		margin-top: 10px;
	}
	p.liga {
		color: #5a5a5a;
		padding-top: 155px;
	}
	div.bloque{
		position: absolute;
		width: 334px;
		left: -95px;
		right: 0px;
		bottom: 0;
		top: 65px;
		margin: auto;
	}
}
@media (min-width: 1200px){
	h3.verde {
		font-size: 40px;
	}
	h2.featurette-heading {
		font-size: 40px;
	}
	.img-responsive {
		margin-left: 20%;
	}
	div.bloque {
		position: absolute;
		width: 445px;
	}
	p.porcentaje {
		width: 170px;
	}
	p.porcentaje2 {
		width: 170px;
	}
	h1{
		font-size: 40px;
	}
	.tittle {
		font-size: 40px;
	}
	.carousel-caption p {
		font-size: 14px;
	}
	.col-sm-8 {
		position: absolute;
		right: -45px;
	}
	.col-sm-4 {
		margin-left: 55px;
	}
	div.row.featurette {
		background: url(../img/globo_texto.png) #596a7a no-repeat 70px;
		background-size: 90%;
	}
}
/*======================================
					ICONS
======================================*/
div.col-md-3 h2{
	font-family: 'georgia';
	font-style: italic;
	margin-top: 15px;
	border-bottom: 5px solid;
	padding: 10px;
}
img.icon1{
	width: 100%;
	margin-top: -40px;
}
img.icon2{
	width: 100%;
	margin-top: -40px;
	margin-bottom: 20px;
}
img.icon3{
	width: 100%;
	margin-top: -40px;
}
img.icon4{
	width: 100%;
	margin-top: -40px;
	margin-bottom: 20px;
}
h2.distinctive{
	font-weight: normal;
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
	padding-top: 30px;
}
	h2.distinctive span.background {
	background: #5a5a5a;
	margin: auto;
	width: 200px;
	height: 5px;
	display: block;
	margin-top: 10px;
	}
h1.gris{
	font-size: 25px;
	font-weight: bold;
	margin: -5px 0px 10px 0px;
	text-shadow: none;
	text-align: center;
	padding-top: 10px;
}
h2.text-tittle{
	margin-top: -25px !important;
}
div.col-md-3{
	padding-bottom: 25px;
}
a.icons{
	font-weight: bold;
	color: #5a5a5a;
}
p.contenido{
	font-style: italic;
}
div.container.marketing{
	background: url(../img/damero2.png);
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}
@media (min-width: 770px){
	img.icon1 {
		width: 80%;
	}
	img.icon2 {
		width: 76%;
	}
	img.icon3 {
		width: 75%;
	}
	img.icon4 {
		width: 70%;
	}
	h1.gris {
		padding-bottom: 35px;
	}
}
@media (min-width: 1024px){
	h2.distinctive {
		padding-top: 70px;
	}
	h1.gris {
		padding-bottom: 70px;
		width: 429px;
		margin: auto;
	}
	img.icon2 {
		width: 73%;
	}
	img.icon3 {
		width: 80%;
	}
	img.icon4 {
		width: 73%;
	}
}
@media (min-width: 1200px){
	h1.gris {
		width: 707px;
		margin: auto;
		font-size: 40px;
	}
	h2.distinctive {
		padding-top: 100px;
		font-size: 40px;
	}
	h1.gris {
		width: 707px;
		margin: auto;
		font-size: 40px;
		padding-bottom: 100px;
	}
	div.col-md-3 h2 {
		font-size: 30px;
	}
	img.icon1 {
		width: 55%;
	}
	img.icon2 {
		width: 50%;
	}
	img.icon3 {
		width: 55%;
	}
	img.icon4 {
		width: 50%;
	}
}
/*======================================
					CORAZÓN
======================================*/
img.heart{
	width: 80%;
	margin-left: 10%;
	padding-top: 30px;
}
img.logos-marcas{
	width: 100%;
	margin: auto;
	padding-top: 20px;
	margin-bottom: 40px;
}
div.row.featurette-coca {
	background: #00a8b0;
}
div.col-md-7 h3.normal {
	font-size: 20px;
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
}
h2.featurette-heading-rojo {
	color: #e2202c;
	font-weight: bold;
	text-align: center;
	border-bottom: 5px solid;
	border-top: 5px solid;
	padding: 10px;
}
h3.normal{
	font-style: italic;
}
@media (min-width: 480px){
	h2.featurette-heading-rojo {
		color: #e2202c;
		font-weight: bold;
		text-align: center;
		border: none;
		padding: 10px;
	}
	h2.featurette-heading-rojo span.rojo-heart {
		height: 5px;
		background: #e2202c;
		width: 120px;
		margin: auto;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h2.featurette-heading-rojo span.rojo-sub {
		height: 5px;
		background: #e2202c;
		width: 120px;
		margin: auto;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	p.tittle-coca-cola {
		padding-bottom: 45px;
	}
}
@media (min-width: 770px){
	img.heart {	
		padding-bottom: 30px;
	}
	div.row.featurette-coca {
		background: url(../img/hoja.png) #00a8b0 no-repeat 10px;
		background-size: 100%;
	}
	img.heart {
		margin-left: 40%;
	}
	h2.featurette-heading-rojo {
		font-size: 25px;
	}
	.row.featurette-coca .col-sm-6 {
		width: 50%;
		margin-top: 60px;
		margin-bottom: 40px;
		padding-top: 32px;
	}
}
@media (min-width: 1200px){
	div.col-md-7 h3.normal {
		font-size: 40px;
	}
	h2.featurette-heading-rojo {
		font-size: 40px;
	}
	div.row.featurette-coca {
		background-size: 85%;
	}
	img.heart {
		margin-left: 40%;
		width: 70%;
	}
		div.row.featurette-coca {
		background-size: 100%;
	}
	a.navbar-brand img.logo {
		top: 13px;
		width: 20%;
		margin-left: 43px;
	}
	.navbar-nav>li {
		font-size: 18px;
	}
	.navbar-nav {
		right: 420px;
	}
}
/*======================================
					LOGOS
======================================*/
.featurette-divider{
	margin: 10px 0;
	background: #596a7a;
}
div.row.featurette-white {
	background: #fff;
	margin-top: -21px;
}
h1.seduce{
	border-bottom: 5px solid #00b0b5;
	text-align: center;
	margin-top: 40px;
	padding-bottom: 10px;
	text-align: center;
}
@media (min-width: 480px){
	h1.seduce span.borde-we{
		background: #00a8b0;
		height: 5px;
		width: 150px;
		margin: auto;
		display: block;
		margin-top: 20px;
	}
	h1.seduce{
		border: none;
	}	
}
@media (min-width: 770px){
	h1.seduce {
		margin-top: 85px;
	}
	img.logos-marcas {
		margin-left: -100px;
	}
}
@media (min-width: 1024px){
	img.logos-marcas {
		padding-top: 100px;
		margin-bottom: 100px;
	}
	.col-md-7 {
		margin-top: 85px;
	}
	h2.tittle-forAll {
		font-size: 40px;
	}
	img.logos-marcas {
		margin-left: -135px;
	}
}
/*======================================
					CARS
======================================*/
img.car {
	width: 44%;
	padding-top: 40px;
	margin-left: 80px;
	margin-bottom: 40px;
}
.tittle-all {
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
	color: #fff;
}
h1.solution-every {
	border-top: 5px solid #00b0b5;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 10px;
	color: #fff;
}
h1.solution-every span.text-green{
	color: #00b0b5;
	font-size: 25px;
	font-weight: bold;
	padding-left: 10px;
}
@media (min-width: 480px){
	img.car {
		margin-left: 115px;
	}
	h2.tittle-all span.verde{
		background: #00a8b0;
		height: 5px;
		width: 150px;
		margin: auto;
		display: block;
		margin-top: 20px;
	}
	h1.solution-every {
		border-top: none;
	}
}
@media (min-width: 770px){
	.featurette-divider {
		background: url(../img/hoja-papel.png) no-repeat #596a7a 10px;
		background-size: 100%;
	}
	.tittle-all {
		color: #5a5a5a;
	}
	h1.solution-every {
		color: #5A5A5A;
	}
	img.car {
		margin-left: 60%;
		margin-bottom: 130px;
	}
	.row.featurette-divider.car .col-sm-6 {
		margin-right: -79px;
		margin-top: 75px;
	}
}
@media (min-width: 1200px){
	h1.solution-every span.text-green {
		font-size: 40px;
	}
	.tittle-all {
		font-size: 40px;
	}
}

/*======================================
					MARCAS
======================================*/
/*h2.tittle-solution{
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
	padding-top: 30px;
}
h1.solution-text{
	font-weight: bold;
	text-align: center;
	border-top: 5px solid #00b0b5;
	padding: 10px;
	margin: 0px 20px 15px 20px;
}
img.marca-co{
	width: 100%;
	padding-bottom: 10px;
}
img.marca-p{
	width: 100%;
	padding-bottom: 10px;
}
img.marca-z{
	width: 100%;
	padding-bottom: 10px;
}
img.marca-c{
	width: 100%;
	padding-bottom: 10px;
}
p.marcas{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;
}
p.leyenda{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border-top: 5px solid #00b0b5; 
	padding-bottom: 10px;
	margin: 0px 20px 0px 20px;
}
div.row.featurette-back{
	background: #fff;
	margin-top: -10px;
}
div.col-md-7-white{
	background: #fff;
}
div.col-md-5-back-white{
	background: #fff;
}
div.row.featurette.y {
	background: #fff;

}
div.col-md-5{
	padding: 0px;
}
/*======================================
					MANO
======================================*/
div.row.featurette-hand{
	background: url(../img/Crop_CHICA.jpg);
	width: 100%;
}
.tittle-women {
	font-family: 'georgia';
	font-style: italic;
	text-align: center;
	margin-top: 160px;
	color: #fff;
	border-bottom: 5px solid #00b0b5;
	padding-bottom: 10px;
}
h1.h1Tittle{
	font-size: 25px;
	font-weight: bold;
	margin: -5px 0px 10px 0px;
	text-shadow: none;
	color: #fff;
	text-align: center;
	margin-bottom: 167px;
}
@media (min-width: 480px){
	.tittle-women {
		border: none;
	}
	.tittle-women span.botella{
		background: #00a8b0;
		height: 5px;
		display:block;
		width: 150px;
		margin: auto;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	div.row.featurette-hand {
		background: url(../img/Crop_CHICA.jpg) no-repeat;
		background-size: 100%;
		margin-top: -10px;
	}
	.tittle-women {
		margin-top: 100px;
	}
}
@media (min-width: 480px){
	.row.featurette-hand .col-md-7{
		margin-left: 300px;
	}
}
@media (min-width: 770px){
	.row.featurette-hand .col-md-7{
		margin-left: 300px;
	}
}
@media (min-width: 1024px){
	.row.featurette-hand .col-md-7{
		margin-left: 400px;
	}
}
@media (min-width: 1024px){
	.tittle-women {
		margin-top: 100px;
		font-size: 40px;
	}
	h1.h1Tittle {
		font-size: 40px;
	}
	.row.featurette-hand .col-md-7 {
		margin-left: 500px;
	}
}


/*======================================
					CANASTO
======================================*/
div.row.featurette-grisc {
	background: #cecccf;
	margin-top: -10px;
}
h1.titulo {
	font-size: 25px;
	font-weight: bold;
	margin: -5px 0px 10px 0px;
	text-shadow: none;
	text-align: center;
	margin-top: 40px;
	border-bottom: 5px solid #00b0b5;
	padding-bottom: 10px;
}
img.canasto{
	width: 80%;
	margin: 0px 0px 0px 30px;
}
p.leyend{
	text-align: center;
	font-family: 'georgia';
	font-style: italic;
	margin-bottom: 20px;
}
/*======================================
					HOLA!
======================================*/
div.col-md-3 h2.holaContact{
	font-family: 'georgia';
	font-style: italic;
	margin-top: 15px;
	border-bottom: 5px solid #00b0b5;
	padding: 10px;
	font-size: 45px;
	color: #fff;
	text-align: center;
}
p.contact {
	color: #fff;
	font-size: 20px;
	text-align: center;
}
div.container.marketing-fondoUl {
	background: #344;
}
p.direccion{
	color: #fff;
}
p.pais{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
a.links{
	color: #8D8D8D;
}
/*======================================
				
======================================*/
img.play{
	margin-left: 10px;
}
/*======================================
				
======================================*/
/*
@media (min-width: 480px){
	a.navbar-brand img.logo {
		width: 45%;
		position: absolute;
		top: 5px;
		left: 25px;
	}
	.carousel .item {
		height: 720px;
		background: url(../img/fondo_rojo.png);
	}
	.carousel-control.left {
		height: 720px;
	}
	.carousel-control.right {
		height: 720px;
	}
	.carousel-indicators {
		top: 695px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 155px;
	}
	.carousel {
		height: 522px;
		margin-bottom: 78px;
	}
	h1, .h1 {
		font-size: 35px;
		padding-top: 20px;
	}
	.tittle {
		font-size: 18px;
	}
	h2.tittle{
		font-size: 29px;
	}
	h2.holaContact span.hellow {
		background: #00b0b5;
		height: 5px;
		display: block;
		margin-top: 10px;
		width: 100px;
		margin: auto;
	}
	.carousel-caption .btn {
		text-shadow: none;
		background: none;
		border: none;
		margin-top: -15px;
	}
	h1.seduce span.borde-we {
		font-size: 13px;
		margin: 0px;
	}
	h2.tittle-women{
		padding-bottom: 20px;
	}
	div.carousel-caption {
		position: absolute;
		top: 82px;
	}
	div.colgate{
		margin-top: -40px;
	}
	p.porcentaje {
		width: 190px;
		font-size: 16px;
		margin-left: 20px;
	}
	p.porcentaje2 {
		width: 190px;
		font-size: 16px;
		margin-right: 20px;
	}
	p.liga {
		padding-top: 41%;
		font-size: 11px;
	}
	img.car {
		margin-left: 120px;
	}
	h1.solution-every span.text-green {
		font-size: 37px;
	}
	img.canasto {
		margin: 0px 0px 0px 45px;
	}
}
/*======================================
				
======================================*/
/*
@media (min-width: 640px){
	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	a.navbar-brand img.logo {
		width: 45%;
		position: absolute;
		top: 7px;
		left: 20px;
	}
	.carousel .item {
		height: 960px;
		background: url(../img/fondo_rojo.png);
	}
	.carousel-control.left {
		height: 960px;
	}
	.carousel-control.right {
		height: 960px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 443px;
	}
	.carousel-indicators {
		top: 900px;
	}
	div.carousel-caption {
		position: absolute;
		top: 120px;
	}
	h1, .h1 {
		font-size: 39px;
		margin-bottom: 30px;
		padding-top: 20px;
	}
	.tittle {
		font-size: 24px;
		padding-bottom: 30px;
	}
	p.leyend {
		text-align: center;
		font-family: 'georgia';
		font-style: italic;
		padding-bottom: 37px;
		width: 400px;
		margin: auto;
	}
	h2.tittle-forAll {
		font-size: 27px;
		margin: -15px 0px 10px 10px;
		text-shadow: none;
		font-style: italic;
		font-family: 'georgia';
		text-align: center;
	}
	div.colgate{
		margin-top: -40px;
	}
	p.porcentaje {
		width: 250px;
		font-size: 20px;
	}
	p.porcentaje2 {
		width: 250px;
		font-size: 20px;
	}
	p.liga {
		font-size: 13px;
		padding-bottom: 30px;
	}
	img.car {
		margin-left: 160px;
	}
	h1.solution-every span.text-green {
		font-size: 40px;
	}
	img.canasto {
		margin: 0px 0px 0px 60px;
	}
	p.pais {
		font-size: 21px;
	}
	p.direccion {
		font-size: 16px;
	}
	p {
		font-size: 16px;
	}
}

/*======================================
				
======================================*/
/*
@media (min-width: 600px){
	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	a.navbar-brand img.logo {
		top: 10px;
	}
	.carousel .item {
		height: 1024px;
	}
	.carousel-control.left {
		height: 1024px;
	}
	.carousel-control.right {
		height: 1024px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 470px;
	}
	.carousel-indicators {
		top: 1005px;
	}
	h1, .h1 {
		font-size: 39px;
		margin-bottom: 30px;
		padding-top: 20px;
	}
	.tittle {
		font-size: 24px;
		padding-bottom: 15px;
		padding-top: 25px;
	}
	h2.tittle {
		font-size: 38px;
		margin-top: -40px;
	}
	p.porcentaje {
		width: 236px;
		font-size: 20px;
	}
	p.porcentaje2 {
		width: 236px;
		font-size: 20px;
	}
	p.liga {
		padding-top: 45%;
		font-size: 13px;
		padding-bottom: 30px;
	}
	img.icon1 {
		width: 35%;
	}
	img.icon2 {
		width: 25%;
	}
	img.icon3 {
		width: 35%;
	}
	img.icon4 {
		width: 35%;
		padding-top: 30px;
	}
	.marketing .col-md-3 p {
		margin-right: 10px;
		margin-left: 10px;
		padding-bottom: 2px;
	}
	.marketing .col-md-3 {
		margin-bottom: 40px;
		text-align: center;
	}
	p.tittle-coca-cola {
		font-size: 20px;
		text-shadow: none;
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
	}
	h2.holaContact span.hellow {
		background: #00b0b5;
		margin-left: 210px;
		height: 5px;
		display: block;
		margin-top: 10px;
		width: 100px;
	}
	h2, .h2 {
		font-size: 30px;
		margin: -5px 0px 10px 0px;
		text-shadow: none;
	}
	div.col-md-7 h3.normal {
		font-size: 40px;
	}
	h1.h1Tittle {
		font-size: 40px;
	}
	h1.titulo {
		font-size: 40px;
		margin-bottom: 25px;
	}
	p.pais {
		font-size: 25px;
	}
	p.direccion {
		font-size: 20px;
	}
	p {
		font-size: 20px;
	}
	h2.tittle-love {
		font-size: 30px;
		margin: -5px 0px 10px 0px;
		text-shadow: none;
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
	}
}
/*======================================
				
======================================*/
/*@media (max-width: 768px){
	.navbar-wrapper {
	 	margin-top: 0px; 
	}
	a.navbar-brand img.logo {
		width: 35%;
		top: 8px;
	}
	.navbar-nav{
		position: absolute;
		right: 60px;
		top: 15px;
	}
	.navbar-wrapper .container {
		padding-right: 0px; 
		padding-left: 0px;
		width: 100%;
	}
	.navbar-wrapper .navbar {
		border-radius: 0px;
		margin-bottom: 0px;
	}
	a.navbar-brand img.logo {
		top: 20px;
	}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		background: none;
		border-bottom: 5px solid;
		padding-bottom: 7px;
	}
	.navbar-wrapper {
		position: fixed; 
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #fff;
	}
	a.navbar-brand  img.logo{
		width: 30%;
	}
	p.porcentaje {
		width: 310px;
	}
	p.porcentaje2 {
		width: 310px;
	}
	p.liga {
		padding-top: 42%;
	}
	h2.distinctive {
		width: 350px;
		margin-left: 200px;
	}
	h1.gris {
		width: 450px;
		margin-left: 140px;
	}
	.marketing .col-md-3 {
		width: 349px;
		padding-top: 45px;
	}
	img.icon2 {
		width: 30%;
	}
	img.icon4 {
		width: 24%;
		padding-top: 30px;
	}
	img.heart {
		width: 55%;
		margin-left: 150px;
		padding-top: 40px;
		margin-bottom: 40px;
	}
	div.row.featurette-coca {
		background: #00a8b0;
		height: 1024px;
	}
	div.col-md-7 h3.normal {
		width: 350px;
		margin-left: 200px;
		margin-bottom: 40px;
		font-weight: normal;
	}
	div.col-md-7 h2.featurette-heading-rojo {
		font-size: 40px;
		width: 350px;
		margin-left: 200px;
	}
	p.tittle-coca-cola {
		font-size: 25px;
		width: 300px;
		margin-left: 225px;
		margin-top: 40px;
	}
	h2.tittle-forAll {
		font-weight: normal;
	}
	h1.seduce {
		width: 300px;
		margin-left: 220px;
		margin-top: 150px;
	}
	img.logos-marcas {
		width: 70%;
		margin-left: 125px;
	}
	div.row.featurette-white {
		height: 1024px;
	}
	img.car {
		margin-left: 210px;
		margin-top: 67px;
	}
	.tittle-all {
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
		color: #fff;
		font-weight: normal;
		width: 350px;
		margin-left: 200px;
	}
	h1.solution-every {
		padding-bottom: 85px;
	}
	h2.tittle-solution {
		font-weight: normal;
	}
	h1.solution-text {
		width: 550px;
		margin-left: 105px;
	}
	div.row.featurette-hand {
		background: url(../img/Crop_CHICA.jpg) no-repeat;
		width: 100%;
		height: 1024px;
		position: relative;
	}
	p.contact {
		margin-bottom: 50px;
	}
	h2.holaContact span.hellow {
		margin-left: 290px;
	}
	div.row.featurette-grisc {
		height: 1024px;
	}
	h1.titulo {
		margin-left: 250px;
		width: 200px;
	}
	h2.tittle-love {
		font-weight: normal;
	}
	img.canasto {
		width: 60%;
		margin-left: 145px;
		margin-top: 100px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 54px;
	}
}
/*======================================
				
======================================*/
/*@media (min-width: 1024px) and (max-height: 600px){
	.navbar-wrapper {
	 	margin-top: 0px; 
	}
	a.navbar-brand img.logo {
		width: 35%;
		top: 8px;
	}
	.navbar-nav{
		position: absolute;
		right: 60px;
		top: 15px;
	}
	img.r-s-f {
		top: 5px;
	}
	img.r-s-t {
		top: 33px;
	}
	img.r-s-i {
		top: 60px;
	}
	div.row.featurette {
		position: relative;
	}
	div.carousel-caption {
		margin-left: -65px;
	}
	.carousel .item {
		height: 590px;
	}
	.navbar-wrapper .container {
		padding-right: 0px; 
		padding-left: 0px;
		width: 100%;
	}
	.navbar-wrapper .navbar {
		border-radius: 0px;
		margin-bottom: 0px;
	}
	a.navbar-brand img.logo {
		top: 7px;
	}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		background: none;
		border-bottom: 5px solid;
		padding-bottom: 7px;
	}
	.navbar-wrapper {
		position: fixed; 
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #fff;
	}
	a.navbar-brand  img.logo{
		width: 30%;
	}
	div.carousel-caption {
		position: relative;
		width: 300px;
		margin-top: 0px;
		display: inline-block;
	}
	div.carousel-caption img.imagen {
		width: 100%;
		position: absolute;
		top: 77px;
		left: 400px;
	}
	h1, .h1 {
		font-size: 40px;
		margin-bottom: 30px;
		margin: auto;
	}
	.carousel-caption p {
		margin-bottom: -25px;
		font-size: 18px;
	}
	h2.tittle {
		font-size: 27px;
		margin-top: 0px;
	}
	.carousel-caption p {
		margin-bottom: -25px;
		font-size: 15px;
	}
	.carousel-caption .btn {
		margin-top: 10px;
	}
	.featurette-heading {
		margin-top: 0px;
	}
	.carousel-control.left {
		height: 600px;
	}
	.carousel-control.right {
		height: 600px;
	}
	p.tittle{
		margin-top: -35px;
	}
	.carousel-indicators {
		top: 550px;
	}
	div.colgate {
		margin-top: 15px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 0px;
	}
	div.row.featurette {
		position: relative;
		background: url(../img/globo_texto.png) #596A77 no-repeat center;
		background-size: 81%;
		height: 600px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 110px;
		margin-left: 136px;
	}
	div.col-md-7 h3.verde {
		font-size: 27px;
		font-family: 'georgia';
		font-style: italic;
		color: #00b0b5;
		text-align: center;
		width: 213px;
		margin-left: 124px;
	}
	div.col-md-7 h2.featurette-heading {
		font-size: 40px;
		width: 288px;
		margin-left: 79px;
	}
	p.porcentaje {
		width: 159px;
		font-size: 13px;
		color: #5a5a5a;
		margin-left: 80px;
		font-style: italic;
	}
	p.porcentaje2 {
		width: 159px;
		font-size: 13px;
		color: #5a5a5a;
		margin-right: 153px;
		font-style: italic;
	}
	p.liga {
		padding-bottom: 47px;
		color: #5a5a5a;
		width: 500px;
		padding-top: 0px;
		font-size: 7px;
		padding-right: 94px;
	}
	p.porcentaje span {
		font-size: 58px;
		font-weight: 500;
		font-style: normal;
	}
	p.porcentaje2 span {
		font-size: 58px;
		font-weight: 500;
		font-style: normal;
	}
	.col-md-7 {
		padding-top: 85px;
	}
	div.col-md-3 h2 {
		font-family: 'georgia';
		font-style: italic;
		margin-top: 15px;
		padding: 10px;
		border-bottom: none !important;
		font-size: 20px;
	}
	h2 span.background{
		background: #5a5a5a;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	img.icon1 {
		width: 50%;
		padding-top: 0px;
	}
	img.icon2 {
		width: 50%;
		padding-top: 0px;
	}
	img.icon3 {
		width: 50%;
		padding-top: 0px;
	}
	img.icon4 {
		width: 50%;
		padding-top: 0px;
	}
	.marketing .col-md-3 p {
		margin-right: 10px;
		margin-left: 10px;
		padding-bottom: 2px;
		font-size: 13px;
	}
	h2.distinctive{
		font-weight: normal;
		font-family: 'georigia' !important;
		font-style: italic;
		text-align: center;
		padding-top: 25px;
		font-size: 27px;
	}
	h1.gris{
		font-size: 40px;
		text-align: center;
		margin-top: -10px;
		width: 750px;
		margin-left: 120px;
	}
	.marketing .col-md-3 {
		margin-bottom: 40px;
		text-align: center;
		padding-top: 70px;
	}
	.container {
		width: 1024px;
	}
	div.row.featurette-coca {
		background: url(../img/hoja.png) #00a8b0 no-repeat center;
		padding-top: 150px;
		height: 530px;
	}
	img.heart {
		width: 75%;
		padding-top: -12px;
		margin-bottom: 40px;
		margin-left: 217px;
		margin-top: -16px;
	}
	img.logos-marcas{
		width: 83%;
		padding-top: -12px;
		margin-bottom: 40px;
		margin-left: 150px;
	}
	div.col-md-7 h3.normal {
		font-size: 27px;
		width: 271px;
		margin-left: 150px;
	}
	div.col-md-7 h2.featurette-heading-rojo {
		color: #e2202c;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		font-size: 40px;
		border: none;
	}
	p.tittle-coca-cola {
		margin-top: -10px;
		font-size: 16px;
		width: 274px;
		margin-left: 145px;
		text-align: center;
		font-style: italic;
		font-family: 'georgia';
	}
	h2 span.rojo-coca{
		background: #e2202c;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	h3 span.rojo-sub{
		background: #e2202c;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	div.row.featurette-coca div.col-md-7{
		padding-top: 0px !important;
	}
	h1.seduce {
		text-align: center;
		margin-top: 60px;
		padding-bottom: 10px;
		width: 227px;
		font-size: 40px;
		border: none;
	}
	img.logos-marcas {
		width: 100%;
		padding-top: 96px;
		margin-bottom: 95px;
		margin-left: -80px;
	}
	h1.seduce span.borde-we{
		background: #00b0b5;
		margin-left: 10px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	h2.tittle-forAll {
		font-size: 27px;
		margin-top: -23px;
		width: 209px;
		margin-left: 178px;
		font-family: 'georgia';
		font-style: italic;
		padding-top: 20px;
		padding-left: 0px;
		text-align: center;
	}
	.featurette-divider.car {
		margin: 10px 0;
		background: url(../img/hoja-papel.png) #596A77 no-repeat center;
		padding-top: 150px;
		height: 530px;
	}
	img.car {
		margin-left: 255px;
		margin-top: -80px;
	}
	.tittle-all {
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
		font-size: 27px;
		width: 390px;
		margin-top: -133px;
		padding-left: 0px;
		color: #5a5a5a;
	}
	h1.solution-every {
		border: none;
		text-align: center;
		font-size: 40px;
		padding-bottom: 10px;
		width: 392px;
		margin-left: 10px;
		color: #5a5a5a;
		margin-top: -10px;
	}
	.tittle-all span.verde{
		background: #00b0b5;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 20px;
	}
	h2.tittle-solution {
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
		padding-top: 10px;
		width: 300px;
		margin-left: 200px;
	}
	h1.solution-text {
		font-weight: bold;
		text-align: center;
		border: none;
		padding: 10px;
		margin: 0px 20px 15px 20px;
		width: 650px;
	}
	h2.tittle-solution span.made-s{
		background: #00b0b5;
		margin-left: 10px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	img.marca-co {
		width: 33%;
		padding-bottom: 10px;
		position: absolute;
		right: 0px;
		bottom: 154px;
	}
	p.marcas {
		font-weight: bold;
		font-size: 20px;
		text-align: right;
		margin-right: 110px;
	}
	p.leyenda {
		font-weight: bold;
		font-size: 20px;
		text-align: right;
		border: none;
		padding-bottom: 10px;
		margin-right: 35px;
	}
	img.marca-p {
		width: 79%;
		padding-bottom: 10px;
		position: absolute;
		left: 344px;
		top: -4px;
	}
	img.marca-z {
		width: 79%;
		padding-bottom: 10px;
		position: absolute;
		left: 256px;
		top: -4px;
	}
	img.marca-c {
		width: 79%;
		padding-bottom: 10px;
		position: absolute;
		left: 12px;
		bottom: -66px;
	}
	div.col-md-5-back-white {
		background: #fff;
		position: absolute;
	}
	div.fondo{
		position: absolute;
	}
	p.marcas1 {
		font-weight: bold;
		font-size: 20px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		color: #fff;
	}
	div.row.featurette-hand {
		background: url(../img/Crop_CHICA.jpg);
		width: 100%;
		height: 600px;
		position: relative;
	}
	h2.tittle-women {
		padding-bottom: 20px;
		width: 256px;
		margin-left: 600px;
		margin-top: 65px;
	}
	h1.h1Tittle {
		font-size: 40px;
		width: 335px;
		margin-left: 568px;
	}
	div.row.featurette-grisc {
		background: url(../img/etiqueta_hilo.png) #cecccf no-repeat center;
		height: 520px;
	}
	img.canasto {
		margin: 95px 0px 0px -179px;
		width: 62%;
	}
	p.leyend {
		text-align: center;
		font-family: 'georgia';
		font-style: italic;
		margin-bottom: 20px;
		font-size: 14px;
		width: 252px;
		margin-left: -174px;
	}
	h1.titulo {
		font-size: 37px;
		width: 177px;
		margin-left: 145px;
	}
	h2.tittle-love {
		font-size: 27px;
		margin-bottom: 0px;
		width: 229px;
		margin-left: 118px;
		color: #00b0b5;
		font-family: 'georgia';
		font-style:italic;
		text-align: center;
	}
	h2.holaContact {
		font-size: 60px;
		margin: -5px 0px 10px 0px;
		text-shadow: none;
		color: #fff;
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
		padding-top: 60px;
	}
	h2.holaContact span.hellow {
		background: #00b0b5;
		height: 5px;
		display: block;
		margin-top: 10px;
		margin-left: 100px;
	}
	p.pais {
		font-size: 20px;
		padding-top: 30px;
	}
	p.direccion {
		font-size: 16px;
	}
	p {
		font-size: 16px;
	}
}
/*======================================
				
======================================*/
/*
@media (max-width: 1024px) and (max-height: 768px){

.navbar-wrapper {
	 	margin-top: 0px; 
	}
	a.navbar-brand img.logo {
		width: 35%;
		top: 8px;
	}
	.navbar-nav{
		position: absolute;
		right: 60px;
		top: 15px;
	}
	img.r-s-f {
		top: 5px;
	}
	img.r-s-t {
		top: 33px;
	}
	img.r-s-i {
		top: 60px;
	}
	div.row.featurette {
		position: relative;
	}
	div.carousel-caption {
		margin-left: -65px;
	}
	.carousel {
		height: 686px;
		margin-bottom: 78px;
	}
	.carousel .item {
		height: 754px;
	}
	.navbar-wrapper .container {
		padding-right: 0px; 
		padding-left: 0px;
		width: 100%;
	}
	.navbar-wrapper .navbar {
		border-radius: 0px;
		margin-bottom: 0px;
	}
	a.navbar-brand img.logo {
		top: 7px;
	}
	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		background: none;
		border-bottom: 5px solid;
		padding-bottom: 7px;
	}
	.navbar-wrapper {
		position: fixed; 
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #fff;
	}
	a.navbar-brand  img.logo{
		width: 30%;
	}
	div.carousel-caption {
		position: relative;
		width: 380px;
		margin-top: 45px;
		display: inline-block;
		margin-left: -85px;
	}
	div.carousel-caption img.imagen {
		width: 100%;
		position: absolute;
		top: 83px;
		left: 380px;
	}
	h1, .h1 {
		font-size: 40px;
		margin-bottom: 30px;
		margin: auto;
	}
	.carousel-caption p {
		margin-bottom: -25px;
		font-size: 18px;
	}
	h2.tittle {
		font-size: 40px;
		margin-top: 10px;
		font-weight: 100;
	}
	.carousel-caption p {
		margin-bottom: -25px;
		font-size: 15px;
	}
	.carousel-caption .btn {
		margin-top: 45px;
	}
	.featurette-heading {
		margin-top: 0px;
	}
	.carousel-control.left {
		height: 754px;
	}
	.carousel-control.right {
		height: 754px;
	}
	p.tittle{
		margin-top: -35px;
	}
	.carousel-indicators {
		top: 700px;
	}
	div.colgate {
		margin-top: 15px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 0px;
	}
	div.row.featurette {
		position: relative;
		background: url(../img/globo_texto.png) #596A77 no-repeat center;
		background-size: 100%;
		height: 700px;
	}
	.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
		padding-top: 125px;
		margin-left: 89px;
	}
	div.col-md-7 h3.verde {
		font-size: 27px;
		font-family: 'georgia';
		font-style: italic;
		color: #00b0b5;
		text-align: center;
		width: 213px;
		margin-left: 124px;
		font-weight: normal;
	}
	div.col-md-7 h2.featurette-heading {
		font-size: 40px;
		width: 288px;
		margin-left: 79px;
	}
	p.porcentaje {
		width: 159px;
		font-size: 13px;
		color: #5a5a5a;
		margin-left: 80px;
		font-style: italic;
	}
	p.porcentaje2 {
		width: 159px;
		font-size: 13px;
		color: #5a5a5a;
		margin-right: 153px;
		font-style: italic;
	}
	p.liga {
		color: #5a5a5a;
		width: 500px;
		margin-top: -67px;
		font-size: 7px;
		padding-right: 34px;
	}
	p.porcentaje span {
		font-size: 58px;
		font-weight: 500;
		font-style: normal;
	}
	p.porcentaje2 span {
		font-size: 58px;
		font-weight: 500;
		font-style: normal;
	}
	.col-md-7 {
		padding-top: 130px;
	}
	div.col-md-3 h2 {
		font-family: 'georgia';
		font-style: italic;
		margin-top: 15px;
		padding: 10px;
		border-bottom: none !important;
		font-size: 20px;
	}
	h2 span.background{
		background: #5a5a5a;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	img.icon1 {
		width: 50%;
		padding-top: 0px;
	}
	img.icon2 {
		width: 50%;
		padding-top: 0px;
	}
	img.icon3 {
		width: 50%;
		padding-top: 0px;
	}
	img.icon4 {
		width: 50%;
		padding-top: 0px;
	}
	.marketing .col-md-3 p {
		margin-right: 10px;
		margin-left: 10px;
		padding-bottom: 2px;
		font-size: 13px;
	}
	h2.distinctive{
		font-weight: normal;
		font-family: 'georigia' !important;
		font-style: italic;
		text-align: center;
		padding-top: 75px;
		font-size: 27px;
	}
	h1.gris{
		font-size: 40px;
		text-align: center;
		margin-top: -10px;
		width: 750px;
		margin-left: 120px;
	}
	.marketing .col-md-3 {
		margin-bottom: 40px;
		text-align: center;
		padding-top: 70px;
	}
	.container {
		width: 1024px;
	}
	div.row.featurette-coca {
		background: url(../img/hoja.png) #00a8b0 no-repeat center;
		padding-top: 150px;
		padding-top: 205px;
		height: 700px;
		background-size: 100%;
	}
	img.heart {
		width: 75%;
		padding-top: -12px;
		margin-bottom: 40px;
		margin-left: 217px;
		margin-top: -16px;
	}
	img.logos-marcas{
		width: 83%;
		padding-top: -12px;
		margin-bottom: 40px;
		margin-left: 150px;
	}
	div.col-md-7 h3.normal {
		font-size: 27px;
		width: 271px;
		margin-left: 150px;
		font-weight: normal;
	}
	div.col-md-7 h2.featurette-heading-rojo {
		color: #e2202c;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		font-size: 40px;
		border: none;
	}
	p.tittle-coca-cola {
		margin-top: -10px;
		font-size: 16px;
		width: 274px;
		margin-left: 145px;
		text-align: center;
		font-style: italic;
		font-family: 'georgia';
	}
	h2 span.rojo-coca{
		background: #e2202c;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	h3 span.rojo-sub{
		background: #e2202c;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	div.row.featurette-coca div.col-md-7{
		padding-top: 0px !important;
	}
	h1.seduce {
		text-align: center;
		margin-top: 60px;
		padding-bottom: 25px;
		width: 227px;
		font-size: 40px;
		border: none;
	}
	img.logos-marcas {
		width: 100%;
		padding-top: 195px;
		margin-bottom: 95px;
		margin-left: -80px;
	}
	h1.seduce span.borde-we{
		background: #00b0b5;
		margin-left: 10px;
		height: 5px;
		display: block;
		margin-top: 25px;
	}
	h2.tittle-forAll {
		font-size: 27px;
		margin-top: -23px;
		width: 209px;
		margin-left: 178px;
		font-family: 'georgia';
		font-style: italic;
		padding-top: 20px;
		padding-left: 0px;
		text-align: center;
		font-weight: normal;
	}
	.featurette-divider.car {
		margin: 10px 0;
		background: url(../img/hoja-papel.png) #596A77 no-repeat center;
		padding-top: 150px;
		height: 700px;
	}
	img.car {
		margin-left: 222px;
		margin-top: 40px;
	}
	.tittle-all {
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
		font-size: 27px;
		width: 390px;
		margin-top: -133px;
		padding-left: 0px;
		color: #5a5a5a;
		font-weight: normal;
	}
	h1.solution-every {
		border: none;
		text-align: center;
		font-size: 40px;
		padding-bottom: 10px;
		width: 392px;
		margin-left: 10px;
		color: #5a5a5a;
		margin-top: -10px;
	}
	.tittle-all span.verde{
		background: #00b0b5;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 20px;
	}
	h2.tittle-solution {
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
		padding-top: 10px;
		width: 300px;
		margin-left: 200px;
	}
	h1.solution-text {
		font-weight: bold;
		text-align: center;
		border: none;
		padding: 10px;
		margin: 0px 20px 15px 20px;
		width: 650px;
	}
	h2.tittle-solution span.made-s{
		background: #00b0b5;
		margin-left: 10px;
		height: 5px;
		display: block;
		margin-top: 10px;
	}
	img.marca-co {
		width: 33%;
		padding-bottom: 10px;
		position: absolute;
		right: 0px;
		bottom: 154px;
	}
	p.marcas {
		font-weight: bold;
		font-size: 20px;
		text-align: right;
		margin-right: 110px;
	}
	p.leyenda {
		font-weight: bold;
		font-size: 20px;
		text-align: right;
		border: none;
		padding-bottom: 10px;
		margin-right: 35px;
	}
	img.marca-p {
		width: 79%;
		padding-bottom: 10px;
		position: absolute;
		left: 344px;
		top: -4px;
	}
	img.marca-z {
		width: 79%;
		padding-bottom: 10px;
		position: absolute;
		left: 256px;
		top: -4px;
	}
	img.marca-c {
		width: 79%;
		padding-bottom: 10px;
		position: absolute;
		left: 12px;
		bottom: -66px;
	}
	div.col-md-5-back-white {
		background: #fff;
		position: absolute;
	}
	div.fondo{
		position: absolute;
	}
	p.marcas1 {
		font-weight: bold;
		font-size: 20px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		color: #fff;
	}
	div.row.featurette-hand {
		background: url(../img/Crop_CHICA.jpg);
		width: 100%;
		height: 700px;
		position: relative;
	}
	h2.tittle-women {
		padding-bottom: 20px;
		width: 256px;
		margin-left: 600px;
		margin-top: 65px;
		font-weight: normal;
	}
	h1.h1Tittle {
		font-size: 40px;
		width: 335px;
		margin-left: 568px;
	}
	div.row.featurette-grisc {
		background: url(../img/etiqueta_hilo.png) #cecccf no-repeat center;
		height: 700px;
	}
	img.canasto {
		margin: 190px 0px 0px -179px;
		width: 62%;
	}
	p.leyend {
		text-align: center;
		font-family: 'georgia';
		font-style: italic;
		margin-bottom: 20px;
		font-size: 14px;
		width: 252px;
		margin-left: -174px;
	}
	h1.titulo {
		font-size: 37px;
		width: 178px;
		margin-left: 145px;
		margin-top: 100px;
	}
	h2.tittle-love {
		font-size: 27px;
		margin-bottom: 0px;
		width: 229px;
		margin-left: 118px;
		color: #00b0b5;
		font-family: 'georgia';
		font-style:italic;
		text-align: center;
		font-weight: normal;
	}
	h2.holaContact {
		font-size: 60px;
		margin: -5px 0px 10px 0px;
		text-shadow: none;
		color: #fff;
		font-family: 'georgia';
		font-style: italic;
		text-align: center;
		padding-top: 60px;
	}
	h2.holaContact span.hellow {
		background: #00b0b5;
		height: 5px;
		display: block;
		margin-top: 10px;
		margin-left: 100px;
	}
	p.pais {
		font-size: 20px;
		padding-top: 30px;
	}
	p.direccion {
		font-size: 16px;
	}
	p {
		font-size: 16px;
	}
	h1 span.borde-cocacola{
		background: #fff;
		margin: auto;
		width: 200px;
		height: 5px;
		display: block;
		margin-top: 45px;
	}
	div.container.marketing {
		background: url(../img/damero2.png);
		height: 700px;
	}
	div.row.featurette-white {
		background: #fff;
		margin-top: -21px;
		height: 700px;
	}
	p.contact {
		font-size: 25px;
		}
}
/*======================================
				
======================================*/
/*.navbar-wrapper {
	margin-top: 0px;
	position: fixed;
}
.navbar-wrapper .container {
	padding-right: 0px;
	padding-left: 0px; 
	width: 100%;
	height: 90px;
}
.navbar-nav {
	float: right;
	margin-right: 40px;
}
a.navbar-brand img.logo {
	width: 19%;
	position: absolute;
	top: 20px;
	left: 27px;
}
.navbar-nav {
	float: left;
	margin-left: 325px;
	font-size: 16px;
	margin-top: 20px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background: none;
	border-bottom: 5px solid #fff;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	padding-left: 27px;
}
.navbar-wrapper .navbar {
	border-radius: 0px;
}
.carousel .item {
	background: url(../img/fondo_rojo.png);
	height: 670px;
}
.carousel-indicators {
	top: 600px;
}
div.carousel-caption {
	font-size: 25px;
	font-weight: normal;
	margin-top: 145px;
	text-shadow: none;
	width: 377px;
	top: 40px;
}
.carousel-control.left {
	height: 670px;
}
.carousel-control.right {
	height: 670px;
}
div.carousel-caption img.imagen {
	width: 100%;
	position: absolute;
	top: 100px;
	left: 450px;
}
.carousel-caption p {
	font-size: 12px;
	text-align: left;
	width: 300px;
}
.tittle {
	font-size: 30px;
	margin-top: 25px;
}
h1, .h1 {
	font-size: 34px;
}
h1 span.borde-cocacola{
	height: 5px;
	width: 135px;
	background: #fff;
	margin: auto;
	display: block;
	margin-top: 25px;
}*/