/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */
.story { padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border: 0; }

#uno { height: 630px; z-index: 0; }

#dos
{
	background: #596a7a url(../images/separador1.jpg) no-repeat center;
	height: 700px;
	width: 100%;
}
#dos-separador {}

#tres {
	background: #00a8b0 url(../images/separador2.png) no-repeat center;
	height: 611px; 
	width: 100%;
}
#tres-separador {}

#cuatro {
	background: #596a7a url(../images/separador3.png) no-repeat center;
	height: 736px;
	width: 100%;
}
#cuatro-separador { }

#cinco {
	background: transparent url(../images/separador4.jpg) no-repeat center;
	height: 605px;
	width: 100%;
}
#cinco-separador { }

#seis {
	background: transparent url(../images/separador5.png) no-repeat center;
	height: 665px;
	width: 100%;
}
#seis-separador { }


