body
{
	background: transparent url(../images/bgnews.jpg) repeat center top;
	margin: 0px;
	padding: 0px;
	font-family: georgiaregular;
	font-size: 12px;
	color: #334444;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'georgiaregular';
    src: url('../fonts/georgia.eot');
    src: url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgia.woff') format('woff'),
         url('../fonts/georgia.ttf') format('truetype'),
         url('../fonts/georgia.svg#georgiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#header-nav
{
	width: 100%;
	height: 90px;
	background: #00b0b5;
	position: fixed;
	z-index: 2;
}

#header-nav .logo
{
	float: left;
	margin-left: 20px;
	margin-top: 7px;
}

#header-nav .menu
{
	float: left;
	height: 90px;
	width: 550px;
	margin-left: 50px;
}

#header-nav .social
{
	height: 90px;
	width: 230px;
	right: 0;
	position: absolute;
}

#header-nav .btts { margin-top: 27px; }


#cssmenu
{
	padding: 0;
	margin: 0;
	border: 0;
	height: 90px;
	text-transform: uppercase;
}
#cssmenu ul, #cssmenu li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#cssmenu ul {position: relative; z-index: 597; }
#cssmenu ul li
{
	float: left;
	min-height: 1px;
	vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {position: relative; z-index: 599; cursor: default;}
#cssmenu ul ul
{
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 130px;
}
#cssmenu ul ul li {float: none;	background-color: #000;}
#cssmenu ul ul ul {top: 0; left: auto; right: -99.5%; }
#cssmenu ul li:hover > ul { visibility: visible;}
#cssmenu ul ul {bottom: 0; left: 0;}
#cssmenu ul ul {margin-top: 0; }
#cssmenu ul ul li {font-weight: normal;}
#cssmenu a
{
	display: block;
	text-decoration: none;
	line-height: 88px;
	padding: 0 20px;
	font-size: 18px;
	color: #FFF;
	font-family: proxima_nova_rgregular;
	font-style: normal;
}
#cssmenu a:hover { color: #90ffff; }

#news
{
	width: 1110px;
	padding-top: 100px;
	font-size: 18px;
	margin: 0 auto;
}

#sidebar
{
	width: 200px;
	font-style: normal;
	position: fixed;
	text-transform: uppercase;
	margin-top: 12px;
	margin-left: 25px;
}

#sidebar ul
{
	list-style: none inside;
	margin: 0;
	padding: 0;
}

#sidebar a
{
	font-size: 18px;
	margin-left: 10px;
	color: #00B2B6;
	text-decoration: none;
	font-family: proxima_nova_rgregular;
	line-height: 32px;
}

#sidebar a:hover
{
	color: #fff;
	text-decoration: none;
}

#contender
{
	width: 790px;
	float: left;
	font-size: 14px;
	margin-left: 250px;
}

#contender .category
{
	width: 790px;
	margin: 20px auto;
	background: #fff;
	height: 246px;
}

#contender .imagen
{
	width: 400px;
	float: left;
	height: 246px;
}

#contender .box-article
{
	width: 400px;
	height: 246px;
	float: left;
	margin-left: -10px;
	background: transparent url(../images/bgcategory.png) no-repeat;
}

#contender .box-texto
{
	padding: 10px 20px;
	position: relative;
}

#contender .title {
	font-size: 16px;
	color: #00B2B6;
	text-decoration: none;
	font-family: proxima_nova_rgbold;
	line-height: 32px;
}

#contender .subtitle
{
	font-size: 22px;
	color: #344;
	text-decoration: none;
	font-family: georgiaregular;
	line-height: 28px;
	font-style: italic;
}

#contender .texto
{
	font-size: 14px;
	color: #344;
	text-decoration: none;
	font-family: proxima_nova_rgregular;
	line-height: 18px;
	font-style: italic;
	margin-top: 7px;
}

#contender .button
{
	margin-top: 20px;
}

#contender .data
{
	width: 117px;
	text-align: center;
	font-family: proxima_nova_rgregular;
	font-size: 11px;
	position: absolute;
	height: 20px;
	margin-left: 283px;
	margin-top: 9px;
}

#contender .boxarticle
{
	width: 830px;
	background: #fff;
}

#contender .box { padding: 20px 30px; }

#contender .fecha
{
	font-family: proxima_nova_rgregular;
	font-size: 18px;
}

#contender .title-box
{
	width: 100%;
	height: 90px;
	border-top: 1px solid #344;
	border-bottom: 1px solid #344;
	margin: 10px 0;
	padding: 15px 0;
}

#contender .title-box-txt
{
	width: 400px;
	font-family: georgiaregular;
	line-height: 40px;
	font-style: italic;
	color: #344;
	font-size: 34px;
}

#contender .img-single-left
{
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

#contender .img-single-right
{
	float: right;
	margin-left: 10px;
	margin-bottom: 5px;
}

#contender .singletxt
{
	font-size: 14px;
	line-height: 22px;
}

#contender .social
{
	height: 25px;
	border-top: 1px solid #344;
	padding-top: 10px;
	text-align: right;
}

#contender .remate
{
	height: 10px;
	width: 100%;
	background: #00B2B6;
}