
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'georgiaregular';
    src: url('../fonts/georgia.eot');
    src: url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgia.woff') format('woff'),
         url('../fonts/georgia.ttf') format('truetype'),
         url('../fonts/georgia.svg#georgiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.view {
   width: 143px;
   height: 71px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask,.view .content {
   width: 143px;
   height: 71px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 20px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

/******* work ******/
.viewwork {
	width: 366px;
	height: 250px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.viewwork .mask,.viewwork .content {
	width: 366px;
	height: 250px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.viewwork img {
   display: block;
   position: relative;
}
.viewwork .space {
   margin: 65px 0 0 0;
}

.viewwork p
{
	font-family: proxima_nova_rgbold;
	font-size: 22px;
	position: relative;
	color: #FFF;
	text-align: center;
	line-height: 0px;
	text-transform: uppercase;
}

.viewwork hr
{
	width: 100px;
	margin: -7px auto;
	text-align: center;
	height: 2px;
	background: #fff;
	border: 0;
}
.viewwork a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.viewwork a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
